# Database (MySQL 8.0)
DATABASE_URL="mysql://root:123mudar@localhost:3306/barone_store"

# JWT Auth
JWT_SECRET="sua_chave_super_secreta_barone_store_jwt_token_2026"
JWT_EXPIRES_IN="1d"

# Server
PORT=3000
ALLOWED_ORIGINS="http://localhost:4200"
